@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu:ital@0;1&display=swap");
.shadow, .home__section .section-2 .home-blog-section #home-owl-carousel .blog-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.custom-container {
  padding: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 68.75%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

h1, h2, h3 {
  font-weight: 600;
  margin-top: 0px;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #171717;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  color: #212529;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  color: #212529;
  font-family: "Ubuntu", sans-serif;
}

.home__section .section-1 {
  background-color: #e9ecef;
  padding: 40px 45px;
}
.home__section .section-1 .home__leftSection h1.home_heading {
  font-size: 3.125rem;
  max-width: 530px;
  text-transform: uppercase;
  padding: 20px 0px;
}
.home__section .section-1 .home__leftSection .three-div-container .home-div {
  border: solid 1px #212529;
  border-radius: 6px;
  padding: 22px 30px;
  height: 100%;
}
.home__section .section-1 .home__leftSection .three-div-container .home-div h1 {
  font-size: 1.375rem;
  text-transform: uppercase;
}
.home__section .section-1 .home__leftSection .three-div-container .home-div p {
  font-size: 0.875rem;
  margin-bottom: 8px;
}
.home__section .section-1 .right__homeSection .image-div {
  padding: 10px;
  border: solid 1px #212529;
  border-radius: 6px;
  width: unset;
  height: 556px;
}
.home__section .section-1 .right__homeSection .image-div img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.home__section .section-1 .right__homeSection .home-category-buttons-section button {
  font-family: "PT Serif", serif;
  padding: 2px 36px;
  border-radius: 50px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 1.25rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  width: unset;
}
.home__section .section-1 .right__homeSection .home-category-buttons-section button a {
  color: #f8f9fa;
}
.home__section .section-2 .home-blog-section #home-owl-carousel .blog-card {
  border-radius: 6px;
  overflow: hidden;
}
.home__section .section-2 .home-blog-section #home-owl-carousel .blog-card .blog-card-img-div img {
  width: 100%;
  height: 15.75rem;
}
.home__section .section-2 .home-blog-section #home-owl-carousel .blog-card .blog-desc-sec h1 {
  font-size: 1.5625rem;
}
.home__section .section-2 .home-blog-section #home-owl-carousel .blog-desc-sec h1 {
  height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.home__section .section-2 .home-blog-section #home-owl-carousel .blog-desc-sec p {
  height: 4.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.home__section .section-2 .home-blog-section #home-owl-carousel .blog-desc-sec .sq-btn {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 40px;
  border-radius: 4px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  width: unset;
  margin-left: auto;
  margin-right: auto;
}

.before {
  width: fit-content;
}
.before::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: black;
  /* left: 0; */
  bottom: -4px;
}

.section-3 {
  background-color: #e9ecef;
}
.section-3 .left-section {
  max-width: 400px;
}
.section-3 .left-section p {
  color: #212529;
  font-size: 1.3rem;
  font-weight: 600;
}
.section-3 .right-section {
  max-width: 500px;
}
.section-3 .right-section h3 {
  margin-left: auto;
}
.section-3 .right-section .form .form-floating input,
.section-3 .right-section .form .form-floating textarea {
  background-color: #c4c4c4;
}
.section-3 .right-section .form .form-floating label {
  left: unset;
  right: 0px;
  color: #212529;
}
.section-3 .right-section .form button {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 40px;
  border-radius: 50px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  width: unset;
  margin-left: auto;
}

.owl-carousel .owl-stage-outer {
  padding: 15px 1px;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  width: 35px;
  height: 35px;
  background-color: #212529;
  color: #fff;
  border-radius: 50px;
}
.owl-carousel .owl-nav {
  display: flex;
  gap: 25px;
  position: absolute;
  bottom: -2rem;
  justify-content: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .home__section .section-1 {
    padding: 25px 5px;
  }
  .home__section .section-1 .home__leftSection h1.home_heading {
    max-width: 300px;
  }
  .home__section .section-1 .home__leftSection .three-div-container .home-div {
    padding: 5px 10px;
  }
  .home__section .section-1 .home__leftSection .three-div-container .home-div p {
    font-size: 1.2rem;
  }
  .home__section .section-1 .right__homeSection .image-div {
    height: 350px;
  }
  .home__section .section-3 .left-section p {
    font-weight: 600;
  }
}
@media only screen and (max-width: 900px) {
  .section-1 .home__leftSection .three-div-container .home-div p {
    font-size: 1rem !important;
  }
}
.onetime-privacy .onetime-banner-img,
.onetime-about .onetime-banner-img,
.onetime-tandc .onetime-banner-img,
.onetime-contact .onetime-banner-img {
  position: relative;
}
.onetime-privacy .onetime-banner-img img,
.onetime-about .onetime-banner-img img,
.onetime-tandc .onetime-banner-img img,
.onetime-contact .onetime-banner-img img {
  width: 100%;
  height: 40rem;
}
.onetime-privacy .onetime-banner-img img,
.onetime-about .onetime-banner-img img,
.onetime-tandc .onetime-banner-img img,
.onetime-contact .onetime-banner-img img {
  width: 100%;
  height: 40rem;
}
.onetime-privacy .overlay,
.onetime-about .overlay,
.onetime-tandc .overlay,
.onetime-contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40rem;
  background: rgba(0, 0, 0, 0.6);
}
.onetime-privacy .onetime-banner-content,
.onetime-about .onetime-banner-content,
.onetime-tandc .onetime-banner-content,
.onetime-contact .onetime-banner-content {
  position: absolute;
  top: 50%;
  left: 33%;
  transform: translate(-28%, -50%);
  text-align: center;
}
.onetime-privacy .onetime-banner-content h1,
.onetime-privacy .onetime-banner-content p,
.onetime-about .onetime-banner-content h1,
.onetime-about .onetime-banner-content p,
.onetime-tandc .onetime-banner-content h1,
.onetime-tandc .onetime-banner-content p,
.onetime-contact .onetime-banner-content h1,
.onetime-contact .onetime-banner-content p {
  color: #f8f9fa;
}
.onetime-privacy .main-section,
.onetime-about .main-section,
.onetime-tandc .main-section,
.onetime-contact .main-section {
  margin-top: 1.875rem;
}
.onetime-privacy .main-section .main-section-inside1 .image-div,
.onetime-privacy .main-section .contact-section-inside2 .image-div,
.onetime-about .main-section .main-section-inside1 .image-div,
.onetime-about .main-section .contact-section-inside2 .image-div,
.onetime-tandc .main-section .main-section-inside1 .image-div,
.onetime-tandc .main-section .contact-section-inside2 .image-div,
.onetime-contact .main-section .main-section-inside1 .image-div,
.onetime-contact .main-section .contact-section-inside2 .image-div {
  padding: 10px;
  border: solid 1px #212529;
  border-radius: 6px;
  width: 530px;
  height: 556px;
}
.onetime-privacy .main-section .main-section-inside1 .image-div img,
.onetime-privacy .main-section .contact-section-inside2 .image-div img,
.onetime-about .main-section .main-section-inside1 .image-div img,
.onetime-about .main-section .contact-section-inside2 .image-div img,
.onetime-tandc .main-section .main-section-inside1 .image-div img,
.onetime-tandc .main-section .contact-section-inside2 .image-div img,
.onetime-contact .main-section .main-section-inside1 .image-div img,
.onetime-contact .main-section .contact-section-inside2 .image-div img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.onetime-privacy .main-section .main-section-inside2 p,
.onetime-about .main-section .main-section-inside2 p,
.onetime-tandc .main-section .main-section-inside2 p,
.onetime-contact .main-section .main-section-inside2 p {
  font-size: 1rem;
}
.onetime-privacy .main-section .contact-section-inside1,
.onetime-about .main-section .contact-section-inside1,
.onetime-tandc .main-section .contact-section-inside1,
.onetime-contact .main-section .contact-section-inside1 {
  margin-top: 5rem;
}
.onetime-privacy .main-section .contact-section-inside1 p,
.onetime-about .main-section .contact-section-inside1 p,
.onetime-tandc .main-section .contact-section-inside1 p,
.onetime-contact .main-section .contact-section-inside1 p {
  font-size: 1.125rem;
}
.onetime-privacy .main-section .contact-section-inside2 .image-div,
.onetime-about .main-section .contact-section-inside2 .image-div,
.onetime-tandc .main-section .contact-section-inside2 .image-div,
.onetime-contact .main-section .contact-section-inside2 .image-div {
  padding: 10px;
  border: solid 1px #212529;
  border-radius: 6px;
  width: 530px;
  height: 420px;
}
.onetime-privacy .main-section .contact-section-inside2 .image-div img,
.onetime-about .main-section .contact-section-inside2 .image-div img,
.onetime-tandc .main-section .contact-section-inside2 .image-div img,
.onetime-contact .main-section .contact-section-inside2 .image-div img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.onetime-privacy .main-section .contact-section-inside2 .section-3,
.onetime-about .main-section .contact-section-inside2 .section-3,
.onetime-tandc .main-section .contact-section-inside2 .section-3,
.onetime-contact .main-section .contact-section-inside2 .section-3 {
  background-color: transparent;
}
@media only screen and (max-width: 767px) {
  .onetime-privacy .onetime-banner-content,
.onetime-about .onetime-banner-content,
.onetime-tandc .onetime-banner-content,
.onetime-contact .onetime-banner-content {
    top: 30%;
    left: 24%;
    transform: translate(-18%, -50%);
  }
  .onetime-privacy .main-section .main-section-inside1,
.onetime-privacy .main-section .contact-section-inside2,
.onetime-about .main-section .main-section-inside1,
.onetime-about .main-section .contact-section-inside2,
.onetime-tandc .main-section .main-section-inside1,
.onetime-tandc .main-section .contact-section-inside2,
.onetime-contact .main-section .main-section-inside1,
.onetime-contact .main-section .contact-section-inside2 {
    padding: 0rem 1.875rem 1.25rem;
  }
  .onetime-privacy .main-section .main-section-inside1 .image-div,
.onetime-privacy .main-section .contact-section-inside2 .image-div,
.onetime-about .main-section .main-section-inside1 .image-div,
.onetime-about .main-section .contact-section-inside2 .image-div,
.onetime-tandc .main-section .main-section-inside1 .image-div,
.onetime-tandc .main-section .contact-section-inside2 .image-div,
.onetime-contact .main-section .main-section-inside1 .image-div,
.onetime-contact .main-section .contact-section-inside2 .image-div {
    padding: 10px;
    border: solid 1px #212529;
    border-radius: 6px;
    width: 100%;
    height: 556px;
  }
  .onetime-privacy .main-section .main-section-inside1 .image-div img,
.onetime-privacy .main-section .contact-section-inside2 .image-div img,
.onetime-about .main-section .main-section-inside1 .image-div img,
.onetime-about .main-section .contact-section-inside2 .image-div img,
.onetime-tandc .main-section .main-section-inside1 .image-div img,
.onetime-tandc .main-section .contact-section-inside2 .image-div img,
.onetime-contact .main-section .main-section-inside1 .image-div img,
.onetime-contact .main-section .contact-section-inside2 .image-div img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
  }
  .onetime-privacy .main-section .contact-section-inside1,
.onetime-about .main-section .contact-section-inside1,
.onetime-tandc .main-section .contact-section-inside1,
.onetime-contact .main-section .contact-section-inside1 {
    margin-top: 0rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
  .onetime-banner-content {
    top: 21%;
  }

  .main-section .contact-section-inside2 .image-div {
    padding: 10px;
    border: solid 1px #212529;
    border-radius: 6px;
    width: 100%;
    height: 556px;
  }
  .main-section .contact-section-inside2 .image-div img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
  }
}
.categoryproductED .header_cp_main {
  margin-top: 4rem;
}
.categoryproductED .header_cp_main .header_cp_column1 {
  padding: 0px;
}
.categoryproductED .header_cp_main .header_cp_column1 .header_cp_img img {
  width: 100%;
  height: 30rem;
  border-radius: 7px 0px 0px 7px;
}
.categoryproductED .header_cp_main .header_cp_column2 {
  border-radius: 0px 7px 7px 0px;
  background-color: #e9ecef;
}
.categoryproductED .header_cp_main .header_cp_column2 .header_cp_content {
  margin-top: 2rem;
}
.categoryproductED .header_cp_main .header_cp_column2 .header_cp_content p {
  font-size: 18px;
}
.categoryproductED .products_category {
  max-width: 1000px;
}
.categoryproductED .products_category .image-div {
  padding: 10px;
  border: solid 1px #212529;
  border-radius: 6px;
  width: unset;
  height: unset;
}
.categoryproductED .products_category .image-div img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.categoryproductED .products_category .header_cp_main {
  margin-top: 4rem;
}
.categoryproductED .products_category .header_cp_main .header_cp_column1 {
  padding: 0px;
}
.categoryproductED .products_category .header_cp_main .header_cp_column1 .header_cp_img img {
  width: 100%;
  height: 30rem;
  border-radius: 7px 0px 0px 7px;
}
.categoryproductED .products_category .header_cp_main .header_cp_column2 {
  border-radius: 0px 7px 7px 0px;
  background-color: #e9ecef;
}
.categoryproductED .products_category .header_cp_main .header_cp_column2 .header_cp_content {
  margin-top: 2rem;
}
.categoryproductED .products_category .header_cp_main .header_cp_column2 .header_cp_content p {
  font-size: 18px;
}
.categoryproductED .products_category .header_cp_main {
  margin-top: 0rem;
}
.categoryproductED .products_category .header_cp_column2 .btn-align {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
.categoryproductED .products_category .header_cp_column2 .btn-align button {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 40px;
  border-radius: 0px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  width: 100%;
}

.section_blogpage .blog-heading-content {
  margin-top: 3rem;
  text-align: center;
}
.section_blogpage .blog-heading-content p {
  font-size: 18px;
  text-align: center;
}
.section_blogpage .blog-section {
  margin-top: 3rem;
}
.section_blogpage .blog-section .blog-section_img img {
  width: 90%;
  height: 21rem;
}
.section_blogpage .blog-section .blog-section-inside2 h1 {
  font-size: 1.875rem;
  margin-top: 0.625rem;
}
.section_blogpage .blog-section .blog-section-inside2 p {
  margin-top: 0.625rem;
  font-size: 18px;
}
.section_blogpage .blog-section .blog-section-inside2 .span1 {
  color: #ff7575;
  font-weight: 600;
  font-size: 1.125rem;
}
.section_blogpage .blog-section .blog-section-inside2 .span2 {
  color: #c1c1c1;
  font-style: italic;
}
.section_blogpage .blog-section .blog-section-inside2 button {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 40px;
  border-radius: 0px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  width: unset;
}
.section_blogpage .outerline {
  padding: 5px 0px 0px 7px;
  border: solid 1px #212529;
  border-radius: 35px;
  height: 46px;
  width: 151px;
  margin: 4rem auto;
}
.section_blogpage button {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 0px;
  border-radius: 15px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  display: block;
  width: 136px;
}
@media only screen and (max-width: 767px) {
  .section_blogpage .blog-section {
    margin-top: 3rem;
  }
  .section_blogpage .blog-section .blog-section_img img {
    width: 100%;
    height: 21rem;
  }
  .section_blogpage .blog-section .blog-section-inside2 h1 {
    font-size: 2.475rem;
  }
  .section_blogpage .blog-section .blog-section-inside2 p {
    margin-top: 2rem;
    font-size: 18px;
  }
  .section_blogpage .blog-section .blog-section-inside2 .span1 {
    color: #ff7575;
    font-weight: 600;
    font-size: 18px;
    margin-top: 5px;
  }
  .section_blogpage .blog-section .blog-section-inside2 .span2 {
    color: #c1c1c1;
    font-style: italic;
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .section_blogpage {
    padding: 0px 15px;
  }
  .section_blogpage .blog-heading-content {
    margin-top: 2rem;
  }
  .section_blogpage .blog-heading-content h1 {
    font-size: 35px;
  }
  .section_blogpage .blog-heading-content p {
    font-size: 16px;
    text-align: center;
  }
  .section_blogpage .outerline {
    height: 42px;
    margin: 3rem auto;
  }
}
.footer__section {
  font-family: "PT Serif", serif;
  text-transform: capitalize;
  background-color: #212529;
}
.footer__section .logo__div img {
  width: 50px;
}
.footer__section .quick-links li a {
  color: #f8f9fa;
}
.footer__section p {
  color: #f8f9fa;
  text-align: center;
  margin-bottom: 0px;
}

header .navbar {
  background-color: #212529;
}
header .navbar a {
  color: #f8f9fa;
}
header .navbar a:hover {
  color: #f8f9fa;
}
header .navbar .menu-open-btn {
  font-size: 1.25rem;
}
header .navbar .header-form {
  position: relative;
  height: 2.125rem;
  width: 18.75rem;
}
header .navbar .header-form input {
  border-radius: 50px;
  font-family: "Ubuntu", sans-serif;
}
header .navbar .header-form input:focus {
  box-shadow: none;
  border: none;
}
header .navbar .header-form .header-search-btn {
  width: 3.125rem;
  height: 2.125rem;
  position: absolute;
  right: 12px;
  padding-top: 2px;
}
header .navbar .header-form .header-search-btn:focus {
  box-shadow: none;
  border: none;
}
header .navbar .header-form .header-search-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .side_Bar {
  position: fixed;
  left: -300px;
  top: 0px;
  width: 300px;
  height: 100vh;
  background-color: #212529;
  z-index: 1032;
}
header .side_Bar .menu-close-btn {
  font-size: 1.25rem;
}
header .side_Bar .menu-close-btn:focus {
  box-shadow: none;
}
header .side_Bar ul .menu-list {
  border-bottom: solid #f8f9fa 2px;
  color: #f8f9fa;
}
header .side_Bar ul .menu-list form input {
  background-color: #212529;
  color: #f8f9fa;
  border: none;
  padding-left: 35px;
  margin-bottom: 10px;
  outline: none;
}
header .side_Bar ul .menu-list form input::placeholder {
  color: #f8f9fa;
}
header .side_Bar ul .menu-list form .search-btn {
  position: absolute;
  left: 0px;
  top: 0px;
  outline: none;
  padding: 3px;
}
header .side_Bar ul .menu-list form .search-btn:focus {
  box-shadow: none;
}
header .side_Bar ul .menu-list .menu-links {
  color: #f8f9fa;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 20px;
}
header .side_Bar ul .menu-list .accordion-item {
  background-color: unset;
  color: #f8f9fa;
  border: unset;
}
header .side_Bar ul .menu-list .accordion-item .accordion-button {
  background-color: #212529;
  color: #f8f9fa;
}
header .side_Bar ul .menu-list .accordion-item .accordion-button:focus {
  border-color: unset;
  box-shadow: unset;
}
header .side_Bar ul .menu-list .accordion-item .accordion-button::after {
  background-image: url("../assets/images/dropdownImg.png");
}
header .side_Bar ul .menu-list .accordion-item .accordion-body .menu-inner-ul li {
  font-family: "Ubuntu", sans-serif;
}
header .overlay_Div {
  position: fixed;
  top: 0%;
  width: 100%;
  left: -100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1031;
}
