@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu:ital@0;1&display=swap");
.shadow, .section-2 .home-blog-section #home-owl-carousel .blog-card,
.section-2 .home-blog-section #product-owl-carousel .blog-card,
.section-2 .home-blog-section #categoryproduct-owl-carousel .blog-card,
.section-2 .home-blog-section #post-owl-carousel .blog-card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.custom-container {
  padding: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 90.75%;
  }
  html p {
    font-size: 1.2rem;
  }
}
@media only screen and (max-width: 1800px) {
  html {
    font-size: 100%;
  }
}

h1, h2, h3 {
  font-weight: 600;
  margin-top: 0px;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #171717;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  color: #212529;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5625rem;
}

p {
  color: #212529;
  font-family: "Ubuntu", sans-serif;
}

.home__section .section-1 {
  background-color: #e9ecef;
  padding: 40px 45px;
}
.home__section .section-1 .home__leftSection h1.home_heading {
  font-size: 3.1rem;
  max-width: 530px;
  text-transform: uppercase;
  padding: 20px 0px;
}
.home__section .section-1 .home__leftSection .three-div-container .home-div {
  border: solid 1px #212529;
  border-radius: 6px;
  padding: 22px 30px;
  height: 100%;
}
.home__section .section-1 .home__leftSection .three-div-container .home-div span {
  font-size: 1.375rem;
  text-transform: uppercase;
  font-family: "PT Serif", serif;
  font-weight: 600;
}
.home__section .section-1 .home__leftSection .three-div-container .home-div span small {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}
.home__section .section-1 .home__leftSection .three-div-container .home-div p {
  margin-bottom: 8px;
}
.home__section .section-1 .right__homeSection .image-div {
  padding: 10px;
  border: solid 1px #212529;
  border-radius: 6px;
  width: unset;
  height: 556px;
}
.home__section .section-1 .right__homeSection .image-div img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.home__section .section-1 .right__homeSection .home-category-buttons-section button {
  font-family: "PT Serif", serif;
  padding: 2px 36px;
  border-radius: 50px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 1.25rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  width: unset;
}
.home__section .section-1 .right__homeSection .home-category-buttons-section button a {
  color: #f8f9fa;
}

.section-2 .home-blog-section #home-owl-carousel .blog-card,
.section-2 .home-blog-section #product-owl-carousel .blog-card,
.section-2 .home-blog-section #categoryproduct-owl-carousel .blog-card,
.section-2 .home-blog-section #post-owl-carousel .blog-card {
  border-radius: 6px;
  overflow: hidden;
}
.section-2 .home-blog-section #home-owl-carousel .blog-card .blog-card-img-div img,
.section-2 .home-blog-section #product-owl-carousel .blog-card .blog-card-img-div img,
.section-2 .home-blog-section #categoryproduct-owl-carousel .blog-card .blog-card-img-div img,
.section-2 .home-blog-section #post-owl-carousel .blog-card .blog-card-img-div img {
  width: 100%;
  height: 15.75rem;
}
.section-2 .home-blog-section #home-owl-carousel .blog-card .blog-desc-sec h1,
.section-2 .home-blog-section #product-owl-carousel .blog-card .blog-desc-sec h1,
.section-2 .home-blog-section #categoryproduct-owl-carousel .blog-card .blog-desc-sec h1,
.section-2 .home-blog-section #post-owl-carousel .blog-card .blog-desc-sec h1 {
  font-size: 1.5625rem;
}
@media screen and (max-width: 767px) {
  .section-2 .home-blog-section #home-owl-carousel .blog-desc-sec h1,
.section-2 .home-blog-section #product-owl-carousel .blog-desc-sec h1,
.section-2 .home-blog-section #categoryproduct-owl-carousel .blog-desc-sec h1,
.section-2 .home-blog-section #post-owl-carousel .blog-desc-sec h1 {
    font-size: 1.2625rem !important;
    height: 1.5rem !important;
  }
  .section-2 .home-blog-section #home-owl-carousel .blog-desc-sec .sq-btn,
.section-2 .home-blog-section #product-owl-carousel .blog-desc-sec .sq-btn,
.section-2 .home-blog-section #categoryproduct-owl-carousel .blog-desc-sec .sq-btn,
.section-2 .home-blog-section #post-owl-carousel .blog-desc-sec .sq-btn {
    padding: 8px 25px !important;
  }
}
.section-2 .home-blog-section #home-owl-carousel .blog-desc-sec h1,
.section-2 .home-blog-section #product-owl-carousel .blog-desc-sec h1,
.section-2 .home-blog-section #categoryproduct-owl-carousel .blog-desc-sec h1,
.section-2 .home-blog-section #post-owl-carousel .blog-desc-sec h1 {
  height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.section-2 .home-blog-section #home-owl-carousel .blog-desc-sec p,
.section-2 .home-blog-section #product-owl-carousel .blog-desc-sec p,
.section-2 .home-blog-section #categoryproduct-owl-carousel .blog-desc-sec p,
.section-2 .home-blog-section #post-owl-carousel .blog-desc-sec p {
  height: 4.5rem;
  font-size: 1rem;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.section-2 .home-blog-section #home-owl-carousel .blog-desc-sec .sq-btn,
.section-2 .home-blog-section #product-owl-carousel .blog-desc-sec .sq-btn,
.section-2 .home-blog-section #categoryproduct-owl-carousel .blog-desc-sec .sq-btn,
.section-2 .home-blog-section #post-owl-carousel .blog-desc-sec .sq-btn {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 40px;
  border-radius: 4px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  width: unset;
  margin-left: auto;
  margin-right: auto;
}

.section-2 .outerline {
  padding: 5px 0px 0px 7px;
  border: solid 1px #212529;
  border-radius: 35px;
  height: 45px;
  width: 151px;
  margin: 2rem auto;
}
.section-2 button {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 0px;
  border-radius: 15px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  display: block;
  width: 136px;
}

@media only screen and (max-width: 767px) {
  .section-2 .outerline {
    height: 41px;
  }
}
.before {
  width: fit-content;
  font-size: 2rem;
}
.before::before {
  content: "";
  position: absolute;
  height: 2px;
  background: black;
  left: 30px;
  right: 30px;
  bottom: -4px;
}

.section-3 {
  background-color: #e9ecef;
}
.section-3 .left-section {
  max-width: 400px;
}
.section-3 .left-section p {
  color: #212529;
  font-size: 1.3rem;
  font-weight: 600;
}
.section-3 .right-section {
  max-width: 500px;
}
.section-3 .right-section h3 {
  margin-left: auto;
}
.section-3 .right-section .form .form-floating input,
.section-3 .right-section .form .form-floating textarea {
  background-color: #c4c4c4;
}
.section-3 .right-section .form .form-floating input:focus,
.section-3 .right-section .form .form-floating textarea:focus {
  border: none;
  box-shadow: none;
}
.section-3 .right-section .form .form-floating label {
  left: unset;
  right: 0px;
  color: #212529;
}
.section-3 .right-section .form button {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 40px;
  border-radius: 50px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  width: unset;
  margin-left: auto;
}

.owl-carousel .owl-stage-outer {
  padding: 15px 1px;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  width: 35px;
  height: 35px;
  background-color: #212529;
  color: #fff;
  border-radius: 50px;
}
.owl-carousel .owl-nav {
  display: flex;
  gap: 25px;
  position: absolute;
  bottom: -2rem;
  justify-content: center;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .owl-carousel .owl-nav {
    bottom: -4rem;
  }
}

@media only screen and (max-width: 600px) {
  .home__section .section-1 {
    padding: 25px 5px;
  }
  .home__section .section-1 .home__leftSection h1.home_heading {
    max-width: 300px;
    font-size: 2rem;
  }
  .home__section .section-1 .home__leftSection .three-div-container .home-div {
    padding: 5px 10px;
  }
  .home__section .section-1 .home__leftSection .three-div-container .home-div p {
    font-size: 0.84rem;
  }
  .home__section .section-1 .right__homeSection .image-div {
    height: 350px;
  }
  .home__section .section-3 .left-section p {
    font-weight: 600;
  }
}
@media only screen and (max-width: 900px) and (min-width: 768px) {
  .section-1 .home__leftSection .three-div-container .home-div p {
    font-size: 1rem;
  }
}
.onetime-privacy .onetime-banner-img,
.onetime-about .onetime-banner-img,
.onetime-tandc .onetime-banner-img,
.onetime-contact .onetime-banner-img {
  position: relative;
}
.onetime-privacy .onetime-banner-img img,
.onetime-about .onetime-banner-img img,
.onetime-tandc .onetime-banner-img img,
.onetime-contact .onetime-banner-img img {
  width: 100%;
  height: 40rem;
}
.onetime-privacy .onetime-banner-img img,
.onetime-about .onetime-banner-img img,
.onetime-tandc .onetime-banner-img img,
.onetime-contact .onetime-banner-img img {
  width: 100%;
  height: 40rem;
}
.onetime-privacy .overlay,
.onetime-about .overlay,
.onetime-tandc .overlay,
.onetime-contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40rem;
  background: rgba(0, 0, 0, 0.6);
}
.onetime-privacy .onetime-banner-content,
.onetime-about .onetime-banner-content,
.onetime-tandc .onetime-banner-content,
.onetime-contact .onetime-banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.onetime-privacy .onetime-banner-content h1,
.onetime-about .onetime-banner-content h1,
.onetime-tandc .onetime-banner-content h1,
.onetime-contact .onetime-banner-content h1 {
  color: #f8f9fa;
}
.onetime-privacy .onetime-banner-content p,
.onetime-about .onetime-banner-content p,
.onetime-tandc .onetime-banner-content p,
.onetime-contact .onetime-banner-content p {
  color: #f8f9fa;
}
.onetime-privacy .main-section,
.onetime-about .main-section,
.onetime-tandc .main-section,
.onetime-contact .main-section {
  margin-top: 1.875rem;
}
.onetime-privacy .main-section .main-section-inside1 .image-div,
.onetime-privacy .main-section .contact-section-inside2 .image-div,
.onetime-about .main-section .main-section-inside1 .image-div,
.onetime-about .main-section .contact-section-inside2 .image-div,
.onetime-tandc .main-section .main-section-inside1 .image-div,
.onetime-tandc .main-section .contact-section-inside2 .image-div,
.onetime-contact .main-section .main-section-inside1 .image-div,
.onetime-contact .main-section .contact-section-inside2 .image-div {
  padding: 10px;
  border: solid 1px #212529;
  border-radius: 6px;
  width: 530px;
  height: 556px;
}
.onetime-privacy .main-section .main-section-inside1 .image-div img,
.onetime-privacy .main-section .contact-section-inside2 .image-div img,
.onetime-about .main-section .main-section-inside1 .image-div img,
.onetime-about .main-section .contact-section-inside2 .image-div img,
.onetime-tandc .main-section .main-section-inside1 .image-div img,
.onetime-tandc .main-section .contact-section-inside2 .image-div img,
.onetime-contact .main-section .main-section-inside1 .image-div img,
.onetime-contact .main-section .contact-section-inside2 .image-div img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.onetime-privacy .main-section .main-section-inside2 p,
.onetime-about .main-section .main-section-inside2 p,
.onetime-tandc .main-section .main-section-inside2 p,
.onetime-contact .main-section .main-section-inside2 p {
  font-size: 1rem;
}
.onetime-privacy .main-section .contact-section-inside1,
.onetime-about .main-section .contact-section-inside1,
.onetime-tandc .main-section .contact-section-inside1,
.onetime-contact .main-section .contact-section-inside1 {
  margin-top: 5rem;
}
.onetime-privacy .main-section .contact-section-inside1 p,
.onetime-about .main-section .contact-section-inside1 p,
.onetime-tandc .main-section .contact-section-inside1 p,
.onetime-contact .main-section .contact-section-inside1 p {
  font-size: 1.125rem;
}
.onetime-privacy .main-section .contact-section-inside2 .image-div,
.onetime-about .main-section .contact-section-inside2 .image-div,
.onetime-tandc .main-section .contact-section-inside2 .image-div,
.onetime-contact .main-section .contact-section-inside2 .image-div {
  padding: 10px;
  border: solid 1px #212529;
  border-radius: 6px;
  width: 530px;
  height: 420px;
}
.onetime-privacy .main-section .contact-section-inside2 .image-div img,
.onetime-about .main-section .contact-section-inside2 .image-div img,
.onetime-tandc .main-section .contact-section-inside2 .image-div img,
.onetime-contact .main-section .contact-section-inside2 .image-div img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.onetime-privacy .main-section .contact-section-inside2 .section-3,
.onetime-about .main-section .contact-section-inside2 .section-3,
.onetime-tandc .main-section .contact-section-inside2 .section-3,
.onetime-contact .main-section .contact-section-inside2 .section-3 {
  background-color: transparent;
}
.onetime-privacy .main_section_content2,
.onetime-about .main_section_content2,
.onetime-tandc .main_section_content2,
.onetime-contact .main_section_content2 {
  margin-top: 2rem;
}
@media only screen and (max-width: 767px) {
  .onetime-privacy .onetime-banner-content,
.onetime-about .onetime-banner-content,
.onetime-tandc .onetime-banner-content,
.onetime-contact .onetime-banner-content {
    top: 30%;
    left: 24%;
    transform: translate(-18%, -50%);
  }
  .onetime-privacy .main-section .main-section-inside1,
.onetime-privacy .main-section .contact-section-inside2,
.onetime-about .main-section .main-section-inside1,
.onetime-about .main-section .contact-section-inside2,
.onetime-tandc .main-section .main-section-inside1,
.onetime-tandc .main-section .contact-section-inside2,
.onetime-contact .main-section .main-section-inside1,
.onetime-contact .main-section .contact-section-inside2 {
    padding: 0rem 1.25rem 1.25rem;
  }
  .onetime-privacy .main-section .main-section-inside1 .image-div,
.onetime-privacy .main-section .contact-section-inside2 .image-div,
.onetime-about .main-section .main-section-inside1 .image-div,
.onetime-about .main-section .contact-section-inside2 .image-div,
.onetime-tandc .main-section .main-section-inside1 .image-div,
.onetime-tandc .main-section .contact-section-inside2 .image-div,
.onetime-contact .main-section .main-section-inside1 .image-div,
.onetime-contact .main-section .contact-section-inside2 .image-div {
    padding: 10px;
    border: solid 1px #212529;
    border-radius: 6px;
    width: 100%;
    height: 415px;
  }
  .onetime-privacy .main-section .main-section-inside1 .image-div img,
.onetime-privacy .main-section .contact-section-inside2 .image-div img,
.onetime-about .main-section .main-section-inside1 .image-div img,
.onetime-about .main-section .contact-section-inside2 .image-div img,
.onetime-tandc .main-section .main-section-inside1 .image-div img,
.onetime-tandc .main-section .contact-section-inside2 .image-div img,
.onetime-contact .main-section .main-section-inside1 .image-div img,
.onetime-contact .main-section .contact-section-inside2 .image-div img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
  }
  .onetime-privacy .main-section .main-section-inside2,
.onetime-about .main-section .main-section-inside2,
.onetime-tandc .main-section .main-section-inside2,
.onetime-contact .main-section .main-section-inside2 {
    padding: 0rem 1.25rem;
  }
  .onetime-privacy .main-section .contact-section-inside1,
.onetime-about .main-section .contact-section-inside1,
.onetime-tandc .main-section .contact-section-inside1,
.onetime-contact .main-section .contact-section-inside1 {
    margin-top: 0rem;
    padding: 0rem 1.25rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 900px) {
  .onetime-privacy .onetime-banner-content,
.onetime-about .onetime-banner-content,
.onetime-tandc .onetime-banner-content,
.onetime-contact .onetime-banner-content {
    top: 21%;
    left: 49%;
  }
  .onetime-privacy .main-section .main-section-inside1 .image-div,
.onetime-privacy .main-section .contact-section-inside2 .image-div,
.onetime-about .main-section .main-section-inside1 .image-div,
.onetime-about .main-section .contact-section-inside2 .image-div,
.onetime-tandc .main-section .main-section-inside1 .image-div,
.onetime-tandc .main-section .contact-section-inside2 .image-div,
.onetime-contact .main-section .main-section-inside1 .image-div,
.onetime-contact .main-section .contact-section-inside2 .image-div {
    padding: 10px;
    border: solid 1px #212529;
    border-radius: 6px;
    width: 100%;
    height: 320px;
  }
  .onetime-privacy .main-section .main-section-inside1 .image-div img,
.onetime-privacy .main-section .contact-section-inside2 .image-div img,
.onetime-about .main-section .main-section-inside1 .image-div img,
.onetime-about .main-section .contact-section-inside2 .image-div img,
.onetime-tandc .main-section .main-section-inside1 .image-div img,
.onetime-tandc .main-section .contact-section-inside2 .image-div img,
.onetime-contact .main-section .main-section-inside1 .image-div img,
.onetime-contact .main-section .contact-section-inside2 .image-div img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
  }
}

.categoryproductED .categorysection1_inside1 {
  margin: 1.25rem auto;
}
.categoryproductED .categorysection1_inside1 img {
  width: 100%;
  height: 30rem;
}
.categoryproductED .categorysection1_inside2 h1 {
  margin: 0.625rem 0rem 2rem 0rem;
}
.categoryproductED .categorysection1_inside2 .moreless-button {
  background-color: transparent;
  border: none;
  color: #ff8700;
  font-size: 15px;
}
.categoryproductED .categorysection2 .categorybox .categorybox_inside {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.15);
  padding: 10px;
  border-radius: 10px;
}
.categoryproductED .categorysection2 .categorybox .categorybox_inside .categorybox_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
}
.categoryproductED .categorysection2 .categorybox .categorybox_inside .categorybox_img img {
  width: 80px;
  height: 56px;
}
.categoryproductED .categorysection2 .categorybox .categorybox_inside .categorydetail_content h2 {
  font-size: 20px;
  margin: 10px 0px;
}
.categoryproductED .categorysection2 .categorybox .categorybox_inside .categorydetail_content .cd_span i {
  font-size: 11px;
  color: #212529;
  margin: 10px 10px 10px 0px;
}
.categoryproductED .categorysection2 .categorybox .categorybox_inside .categorydetail_content .cd_span span {
  font-size: 15px;
}
.categoryproductED .categorysection2 .categorybox .categorybox_inside .cd_button p {
  margin-top: 3rem;
}
.categoryproductED .categorysection2 .categorybox .categorybox_inside .cd_button span {
  font-size: 22px;
  font-weight: 500;
}
.categoryproductED .categorysection2 .categorybox .categorybox_inside .cd_button button {
  font-family: "Ubuntu", sans-serif;
  padding: 12px 40px;
  border-radius: 25px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  width: 100%;
  margin: 0px auto;
  opacity: 0.9;
  font-size: 1rem;
  background-color: #444547;
}
.categoryproductED .categorysection2 .categorybox .categorybox_inside:hover {
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
}
.categoryproductED .categorysection2 .categorybox .categorybox_inside:hover button {
  background-color: #212529;
}
.categoryproductED .categorysection2 .outerline {
  padding: 5px 0px 0px 7px;
  border: solid 1px #212529;
  border-radius: 35px;
  height: 45px;
  width: 151px;
  margin: 3rem auto;
}
.categoryproductED .categorysection2 button {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 0px;
  border-radius: 15px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  display: block;
  width: 136px;
}
@media only screen and (max-width: 767px) {
  .categoryproductED .categorysection2 .categorybox {
    padding: 20px 20px 0px 20px;
  }
  .categoryproductED .categorysection2 .outerline {
    height: 41px;
  }
}

.section_blogpage .blog-heading-content {
  margin-top: 6rem;
  text-align: center;
}
.section_blogpage .blog-heading-content p {
  font-size: 18px;
  text-align: center;
}
.section_blogpage .blog-section {
  margin-top: 3rem;
}
.section_blogpage .blog-section .blog-section_img img {
  border-radius: 7px;
  width: 90%;
  height: 21rem;
}
.section_blogpage .blog-section .blog-section-inside2 h1 {
  font-size: 1.875rem;
  margin-top: 0.625rem;
}
.section_blogpage .blog-section .blog-section-inside2 p {
  margin-top: 0.625rem;
  font-size: 18px;
}
.section_blogpage .blog-section .blog-section-inside2 .span1 {
  color: #ff7575;
  font-weight: 600;
  font-size: 1.125rem;
}
.section_blogpage .blog-section .blog-section-inside2 .span2 {
  color: #c1c1c1;
  font-style: italic;
}
.section_blogpage .blog-section .blog-section-inside2 button {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 40px;
  border-radius: 0px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  width: unset;
  font-weight: 700;
}
.section_blogpage .outerline {
  padding: 5px 0px 0px 7px;
  border: solid 1px #212529;
  border-radius: 35px;
  height: 45px;
  width: 151px;
  margin: 4rem auto;
}
.section_blogpage button {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 0px;
  border-radius: 15px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  display: block;
  width: 136px;
}

@media only screen and (max-width: 767px) {
  .section_blogpage {
    padding: 0px 15px;
  }
  .section_blogpage .blog-heading-content h1 {
    font-size: 35px;
  }
  .section_blogpage .blog-heading-content p {
    font-size: 16px;
    text-align: center;
  }
  .section_blogpage .outerline {
    height: 42px;
    margin: 3rem auto;
  }
  .section_blogpage .blog-section {
    margin-top: 3rem;
  }
  .section_blogpage .blog-section .blog-section_img img {
    width: 100%;
    height: 21rem;
    border-radius: 7px;
  }
  .section_blogpage .blog-section .blog-section-inside2 h1 {
    font-size: 2.475rem;
  }
  .section_blogpage .blog-section .blog-section-inside2 p {
    margin-top: 2rem;
    font-size: 18px;
    max-width: 800px;
    margin-top: 0 auto;
  }
  .section_blogpage .blog-section .blog-section-inside2 .span1 {
    color: #ff7575;
    font-weight: 600;
    font-size: 18px;
  }
  .section_blogpage .blog-section .blog-section-inside2 .span2 {
    color: #c1c1c1;
    font-style: italic;
    font-size: 15px;
  }
}
.footer__section {
  font-family: "PT Serif", serif;
  text-transform: capitalize;
  background-color: #212529;
}
.footer__section .row {
  border-bottom: solid 1px #fff;
}
.footer__section .row .logo__div img {
  width: 60px;
  margin-right: auto;
}
@media screen and (max-width: 767px) {
  .footer__section .row .logo__div .augs-logo {
    margin-right: unset;
  }
}
.footer__section .row .quick-links li a {
  color: #f8f9fa;
}
.footer__section p {
  color: #f8f9fa;
  text-align: center;
  margin-bottom: 0px;
}

header .logo-img {
  width: 60px;
}
header .navbar {
  background-color: #212529;
}
header .navbar a {
  color: #f8f9fa;
}
header .navbar a:hover {
  color: #f8f9fa;
}
header .navbar .menu-open-btn {
  font-size: 20px;
}
header .navbar .header-form {
  position: relative;
  height: 2.125rem;
  width: 18.75rem;
}
header .navbar .header-form input {
  border-radius: 50px;
  font-family: "Ubuntu", sans-serif;
}
header .navbar .header-form input:focus {
  box-shadow: none;
  border: none;
}
header .navbar .header-form .header-search-btn {
  width: 3.125rem;
  height: 2.125rem;
  position: absolute;
  right: 12px;
  padding-top: 2px;
}
header .navbar .header-form .header-search-btn:focus {
  box-shadow: none;
  border: none;
}
header .navbar .header-form .header-search-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
header .side_Bar {
  position: fixed;
  overflow-y: auto;
  left: -300px;
  top: 0px;
  width: 300px;
  height: 100vh;
  background-color: #212529;
  z-index: 1032;
}
header .side_Bar .menu-close-btn {
  font-size: 20px;
}
header .side_Bar .menu-close-btn:focus {
  box-shadow: none;
}
header .side_Bar ul .menu-list {
  border-bottom: solid #f8f9fa 2px;
  color: #f8f9fa;
}
header .side_Bar ul .menu-list a {
  color: #f8f9fa;
}
header .side_Bar ul .menu-list form input {
  background-color: #212529;
  color: #f8f9fa;
  border: none;
  padding-left: 35px;
  margin-bottom: 10px;
  outline: none;
}
header .side_Bar ul .menu-list form input::placeholder {
  color: #f8f9fa;
}
header .side_Bar ul .menu-list form .search-btn {
  position: absolute;
  left: 0px;
  top: 0px;
  outline: none;
  padding: 3px;
}
header .side_Bar ul .menu-list form .search-btn:focus {
  box-shadow: none;
}
header .side_Bar ul .menu-list .menu-links {
  color: #f8f9fa;
  font-size: 1rem;
  font-weight: 500;
  padding: 8px 20px;
}
header .side_Bar ul .menu-list .accordion-item {
  background-color: unset;
  color: #f8f9fa;
  border: unset;
}
header .side_Bar ul .menu-list .accordion-item .accordion-button {
  background-color: #212529;
  color: #f8f9fa;
}
header .side_Bar ul .menu-list .accordion-item .accordion-button:focus {
  border-color: unset;
  box-shadow: unset;
}
header .side_Bar ul .menu-list .accordion-item .accordion-button::after {
  background-image: url("../assets/images/dropdownImg.png");
}
header .side_Bar ul .menu-list .accordion-item .accordion-body .menu-inner-ul li {
  font-family: "Ubuntu", sans-serif;
}
header .overlay_Div {
  position: fixed;
  top: 0%;
  width: 100%;
  left: -100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1031;
}

@media screen and (max-width: 767px) {
  header .navbar .header-form {
    width: 14.75rem;
  }

  .side_Bar .menu-list .menu-links {
    padding: 8px 20px 8px 12px;
  }
  .side_Bar .menu-list .menu-links a {
    font-size: 1.3rem;
  }
  .side_Bar a {
    font-size: 1.1rem;
  }
  .side_Bar button {
    font-size: 1.3rem;
  }
}
.sticky_accordion {
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
}

.product__page .top-section {
  background-color: #e9ecef;
}
.product__page .top-section .product-section {
  border: solid 1px #212529;
  border-radius: 6px;
  padding: 10px;
}
.product__page .top-section .product-section .product-img img {
  width: 100%;
  height: 21.875rem;
  object-fit: cover;
}
.product__page .top-section .product-section .product-img button {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 40px;
  border-radius: 4px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  width: unset;
  width: 100%;
  margin: 0px;
}
.product__page .top-section .product-section .product-desc h1 {
  font-size: 2rem;
}
.product__page .bottom-section .accordion-item {
  border: none;
}
.product__page .bottom-section .accordion-item .accordion-button {
  background-color: #212529;
  color: #f8f9fa;
  padding: 8px 10px;
  border-radius: 6px;
}
.product__page .bottom-section .accordion-item .accordion-button::after {
  filter: brightness(25);
}
.product__page .bottom-section .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.product__page .bottom-section .accordion-item .accordion-button:not(.collapsed) {
  background-color: #dcdada;
  color: #212529;
  font-weight: 600;
  box-shadow: none;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.product__page .bottom-section .accordion-item .accordion-button:not(.collapsed)::after {
  filter: brightness(0.1);
}
.product__page .bottom-section .accordion-item .accordion-body {
  background-color: #dcdada;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.product__page .bottom-section .accordion-item .accordion-body p {
  color: #212529;
}

@media only screen and (max-width: 767px) {
  .product__page .top-section .product-section {
    border: none;
  }
  .product__page .top-section .product-section .shadow, .product__page .top-section .product-section .section-2 .home-blog-section #home-owl-carousel .blog-card, .section-2 .home-blog-section #home-owl-carousel .product__page .top-section .product-section .blog-card,
.product__page .top-section .product-section .section-2 .home-blog-section #product-owl-carousel .blog-card,
.section-2 .home-blog-section #product-owl-carousel .product__page .top-section .product-section .blog-card,
.product__page .top-section .product-section .section-2 .home-blog-section #categoryproduct-owl-carousel .blog-card,
.section-2 .home-blog-section #categoryproduct-owl-carousel .product__page .top-section .product-section .blog-card,
.product__page .top-section .product-section .section-2 .home-blog-section #post-owl-carousel .blog-card,
.section-2 .home-blog-section #post-owl-carousel .product__page .top-section .product-section .blog-card {
    box-shadow: unset !important;
  }
  .product__page .top-section .product-section .shadow .product-img, .product__page .top-section .product-section .section-2 .home-blog-section #home-owl-carousel .blog-card .product-img, .section-2 .home-blog-section #home-owl-carousel .product__page .top-section .product-section .blog-card .product-img,
.product__page .top-section .product-section .section-2 .home-blog-section #product-owl-carousel .blog-card .product-img,
.section-2 .home-blog-section #product-owl-carousel .product__page .top-section .product-section .blog-card .product-img,
.product__page .top-section .product-section .section-2 .home-blog-section #categoryproduct-owl-carousel .blog-card .product-img,
.section-2 .home-blog-section #categoryproduct-owl-carousel .product__page .top-section .product-section .blog-card .product-img,
.product__page .top-section .product-section .section-2 .home-blog-section #post-owl-carousel .blog-card .product-img,
.section-2 .home-blog-section #post-owl-carousel .product__page .top-section .product-section .blog-card .product-img {
    padding: 5px;
    border: solid 1px #212529;
    border-radius: 6px;
  }
}
.post__page .post-banner-img {
  height: 500px;
  width: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.post__page .post-content-section .TBC-container {
  position: sticky;
  top: 90px;
}
.post__page .post-content-section .TBC-container .accordion-item .accordion-button {
  font-size: 1.8rem;
  font-weight: 600;
}
.post__page .post-content-section .TBC-container .accordion-item .accordion-button:not(.collapsed) {
  color: #212529;
  background-color: unset;
}
.post__page .post-content-section .TBC-container .accordion-item .accordion-button:not(.collapsed)::after {
  filter: brightness(0.1);
}
.post__page .post-content-section .TBC-container .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.post__page .post-content-section .TBC-container .table-of-content li {
  border: solid 1px #212529;
  border-radius: 6px;
  padding: 5px 6px;
  margin-bottom: 10px;
  cursor: pointer;
}
.post__page .post-content-section .TBC-container .table-of-content li a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-family: "PT Serif", serif;
  font-weight: 600;
}
.post__page .post-content-section .TBC-container .table-of-content li a span {
  margin-bottom: 0px;
}
.post__page .post-content-section .TBC-container .table-of-content li a span {
  border-right: solid 1px #212529;
  margin-right: 10px;
  padding: 0px 10px;
}
.post__page .post-content-section .TBC-container .table-of-content .tbc_links.active {
  background-color: #212529;
}
.post__page .post-content-section .TBC-container .table-of-content .tbc_links.active a {
  color: #f8f9fa;
  font-weight: 500;
}
.post__page .post-content-section .headings {
  font-size: 1.7rem;
  margin: 30px 0px 10px;
}
.post__page .post-content-section p {
  font-family: "Ubuntu", sans-serif;
}
.post__page .post-content-section .sq-btn {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 40px;
  border-radius: 4px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  width: unset;
}
.post__page .post-content-section .bottom-accordion-section .accordion-item {
  width: fit-content;
  border: none;
}
.post__page .post-content-section .bottom-accordion-section .accordion-item .accordian-heading .accordion-button {
  font-size: 1.2rem;
  box-shadow: none;
  border: none;
  font-weight: 600;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.post__page .post-content-section .bottom-accordion-section .accordion-item .accordian-heading .accordion-button::after {
  display: none;
}
.post__page .post-content-section .bottom-accordion-section .accordion-item .accordian-heading .accordion-button:not(.collapsed) {
  background-color: unset;
  color: #212529;
}
.post__page .post-content-section .bottom-accordion-section .accordion-item .accordian-heading .accordion-button span {
  background-color: #212529;
  color: #f8f9fa;
  padding: 6px 8px;
  margin-left: 2rem;
}

@media screen and (max-width: 767px) {
  .post__page {
    padding: 10px;
  }
  .post__page .post-banner-img {
    height: 200px;
  }
  .post__page .accordian-heading .accordion-button {
    font-size: 1.4rem !important;
  }
}
@media screen and (max-width: 922px) {
  .TBC-container .table-of-content li a span,
.TBC-container .table-of-content li a h2 {
    font-size: 1.5rem !important;
  }
}
