@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu:ital@0;1&display=swap");
.shadow, .home__section .section-2 .home-blog-section #home-owl-carousel .blog-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.custom-container {
  padding: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 63.75%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

h1, h2, h3 {
  font-weight: 600;
  margin-top: 0px;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #171717;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  color: #212529;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  color: #212529;
  font-family: "Ubuntu", sans-serif;
}

.home__section .section-1 {
  background-color: #e9ecef;
  padding: 40px 45px;
}
.home__section .section-1 .home__leftSection h1.home_heading {
  font-size: 3.125rem;
  max-width: 530px;
  text-transform: uppercase;
  padding: 20px 0px;
}
.home__section .section-1 .home__leftSection .three-div-container .home-div {
  border: solid 1px #212529;
  border-radius: 6px;
  padding: 22px 30px;
  height: 100%;
}
.home__section .section-1 .home__leftSection .three-div-container .home-div h1 {
  font-size: 1.375rem;
}
.home__section .section-1 .home__leftSection .three-div-container .home-div p {
  font-size: 0.875rem;
  margin-bottom: 8px;
}
.home__section .section-1 .right__homeSection .image-div {
  padding: 10px;
  border: solid 1px #212529;
  border-radius: 6px;
  width: unset;
  height: 556px;
}
.home__section .section-1 .right__homeSection .image-div img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.home__section .section-1 .right__homeSection .home-category-buttons-section button {
  font-family: "PT Serif", serif;
  padding: 2px 36px;
  border-radius: 50px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 1.25rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
}
.home__section .section-1 .right__homeSection .home-category-buttons-section button a {
  color: #f8f9fa;
}
.home__section .section-2 .home-blog-section #home-owl-carousel .blog-card {
  border-radius: 6px;
  overflow: hidden;
}
.home__section .section-2 .home-blog-section #home-owl-carousel .blog-card .blog-card-img-div img {
  width: 100%;
  height: 15.75rem;
}
.home__section .section-2 .home-blog-section #home-owl-carousel .blog-card .blog-desc-sec h1 {
  font-size: 1.5625rem;
}
.home__section .section-2 .home-blog-section #home-owl-carousel .blog-desc-sec .sq-btn {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 30px;
  border-radius: 4px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.home__section .section-3 {
  background-color: #e9ecef;
}
.home__section .section-3 .left-section {
  max-width: 400px;
}
.home__section .section-3 .left-section p {
  color: #212529;
  font-size: 1.3rem;
}
.home__section .section-3 .right-section {
  max-width: 500px;
}
.home__section .section-3 .right-section .form .form-floating input, .home__section .section-3 .right-section .form .form-floating textarea {
  background-color: #c4c4c4;
}
.home__section .section-3 .right-section .form .form-floating label {
  left: unset;
  right: 0px;
  color: #212529;
}
.home__section .section-3 .right-section .form button {
  font-family: "Ubuntu", sans-serif;
  padding: 8px 30px;
  border-radius: 50px;
  border: none;
  color: #f8f9fa;
  letter-spacing: 0.7px;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #212529;
  margin: 10px 5px;
  display: block;
  margin-left: auto;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  width: 35px;
  height: 35px;
  background-color: #212529;
  color: #fff;
  border-radius: 50px;
}
.owl-carousel .owl-nav {
  display: flex;
  gap: 25px;
  position: absolute;
  left: 50%;
  bottom: -2rem;
}

@media only screen and (max-width: 600px) {
  .home__section .section-1 {
    padding: 15px;
  }
  .home__section .section-1 .home__leftSection h1.home_heading {
    max-width: 300px;
  }
  .home__section .section-1 .home__leftSection .three-div-container .home-div {
    padding: 5px 10px;
  }
  .home__section .section-1 .right__homeSection .image-div {
    padding: 10px;
    border: solid 1px #212529;
    border-radius: 6px;
    width: unset;
    height: 300px;
  }
  .home__section .section-1 .right__homeSection .image-div img {
    width: 100%;
    height: 100%;
    border-radius: 6px;
    object-fit: cover;
  }
  .home__section .section-3 .left-section p {
    font-weight: 600;
  }
}
