@use "./variables" as *;
@use "./base/reset";
@use "./base/typography";
@use "./components" as *;
@use "./utilities/" as *;

// @import './pages/home.scss';
.home__section {
  .section-1 {
    background-color: $color-8;
    padding: 40px 45px;
    .home__leftSection {
      h1.home_heading {
        font-size: 3.125rem;
        max-width: 530px;
        text-transform: uppercase;
        padding: 20px 0px;
      }
      .three-div-container {
        .home-div {
          border: solid 1px $color-1;
          border-radius: 6px;
          padding: 22px 30px;
          height: 100%;
          h1 {
            font-size: 1.375rem;
            text-transform: uppercase;
          }
          p {
            font-size: 0.875rem;
            margin-bottom: 8px;
          }
        }
      }
    }
    .right__homeSection {
      @include image-css(unset);

      .home-category-buttons-section {
        button {
          @include btn(50px, 2px 36px, 1.25rem, $heading-font);
          a {
            color: $color-9;
          }
        }
      }
    }
  }
  .section-2 {
    .home-blog-section {
      #home-owl-carousel {
        @include blogCard;
        .blog-desc-sec {
          h1 {
            height: 2rem;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
          p {
            height: 4.5rem;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
          }
          .sq-btn {
            @include btn;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
}

//before css
.before {
  width: fit-content;
  @include before;
}

.section-3 {
  background-color: $color-8;
  .left-section {
    max-width: 400px;
    p {
      color: $color-1;
      font-size: 1.3rem;
    }
  }
  .right-section {
    max-width: 500px;
    h3{
      margin-left: auto;
    }
    .form {
      .form-floating {
        input,
        textarea {
          background-color: $input;
        }
        label {
          left: unset;
          right: 0px;
          color: $color-1;
        }
      }
      button {
        @include btn(50px);
        margin-left: auto;
      }
    }
  }
}

@include owl-btn;

//media screen queries
@media only screen and(max-width: 600px) {
  .home__section {
    // padding: 15px;
    .section-1 {
      padding: 25px 5px;
      .home__leftSection {
        h1.home_heading {
          max-width: 300px;
        }
        .three-div-container {
          .home-div {
            padding: 5px 10px;
            p{
              font-size: 1.2rem;
            }
          }
        }
      }
      .right__homeSection {
        .image-div {
          height: 350px;
        }
      }
    }
    .section-3 {
      .left-section {
        p {
          font-weight: 600;
        }
      }
    }
  }
}

// one-time pages start

.onetime-privacy,
.onetime-about,
.onetime-tandc,
.onetime-contact {
  .onetime-banner-img {
    position: relative;
  }

  .onetime-banner-img img {
    width: 100%;
    height: 40rem;
  }

  .onetime-banner-img img {
    width: 100%;
    height: 40rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    background: rgba(0, 0, 0, 0.6);
  }

  .onetime-banner-content {
    position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-28%, -50%);
    text-align: center;
  }

  .onetime-banner-content h1,
  .onetime-banner-content p {
    color: $color-9;
  }

  .main-section {
    margin-top: 1.875rem;

    .main-section-inside1,
    .contact-section-inside2 {
      @include image-css;
    }

    .main-section-inside2 {
      p {
        font-size: 1rem;
      }
    }

    .contact-section-inside1 {
      margin-top: 5rem;

      p {
        font-size: 18px;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .onetime-banner-content {
      top: 30%;
      left: 24%;
      transform: translate(-18%, -50%);
    }
    .main-section {
      .main-section-inside1,
      .contact-section-inside2 {
        padding: 0rem 1.875rem 1.25rem;
        @include image-css(100%);
      }
      .contact-section-inside1 {
        margin-top: 0rem;
      }
    }
  }
}

@media only screen and (min-width: 768px) and(max-width: 900px) {
  .onetime-banner-content {
    top: 21%;
  }
  .main-section {
    .contact-section-inside2 {
      @include image-css(100%);
    }
  }
}

// one-time pages end
