@use "./variables" as *;
.main{
    p{
        // font-family: $heading-font;
        // color: map-get($many-color , ylw);
        // @include color;
    }
    h1{
        // color: map-get($many-color , wht);
    }
}