@use "./variables" as *;
@use "./base/reset";
@use "./base/typography";
@use "./components" as *;
@use "./utilities/" as *;

// @import './pages/home.scss';
.home__section {
  .section-1 {
    background-color: $color-8;
    padding: 40px 45px;

    .home__leftSection {
      h1.home_heading {
        font-size: 3.1rem;
        max-width: 530px;
        text-transform: uppercase;
        padding: 20px 0px;
      }

      .three-div-container {
        .home-div {
          border: solid 1px $color-1;
          border-radius: 6px;
          padding: 22px 30px;
          height: 100%;

          span {
            font-size: 1.375rem;
            text-transform: uppercase;
            font-family: $heading-font;
            font-weight: 600;
            small{
              font-family: $para-font;
              font-weight: 500;
            }
          }

          p {
            // font-size: 0.875rem;
            margin-bottom: 8px;
          }
        }
      }
    }

    .right__homeSection {
      @include image-css(unset);

      .home-category-buttons-section {
        button {
          @include btn(50px, 2px 36px, 1.25rem, $heading-font);

          a {
            color: $color-9;
          }
        }
      }
    }
  }
}

.section-2 {
  .home-blog-section {
    #home-owl-carousel,
    #product-owl-carousel,
    #categoryproduct-owl-carousel,
    #post-owl-carousel {
      @include blogCard;

      .blog-desc-sec {
        h1 {
          height: 2rem;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        p {
          height: 4.5rem;
          font-size: 1rem;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }

        .sq-btn {
          @include btn;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}

.section-2 {
  .outerline {
    padding: 5px 0px 0px 7px;
    border: solid 1px #212529;
    border-radius: 35px;
    height: 45px;
    width: 151px;
    margin: 2rem auto;
  }

  button {
    font-family: "Ubuntu", sans-serif;
    padding: 8px 0px;
    border-radius: 15px;
    border: none;
    color: #f8f9fa;
    letter-spacing: 0.7px;
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: #212529;
    display: block;
    width: 136px;
  }
}
@media only screen and (max-width: 767px){
  .section-2 {
    .outerline {
      height: 41px;
    }
  }
}
//before css
.before {
  width: fit-content;
  @include before;
  font-size: 2rem;
}

.section-3 {
  background-color: $color-8;

  .left-section {
    max-width: 400px;

    p {
      color: $color-1;
      font-size: 1.3rem;
      font-weight: 600;
    }
  }

  .right-section {
    max-width: 500px;

    h3 {
      margin-left: auto;
    }

    .form {
      .form-floating {
        input,
        textarea {
          background-color: $input;
          &:focus{
            border: none;
            box-shadow: none;
          }
        }

        label {
          left: unset;
          right: 0px;
          color: $color-1;
        }
      }

      button {
        @include btn(50px);
        margin-left: auto;
      }
    }
  }
}

@include owl-btn;

//media screen queries for mobile
@media only screen and(max-width: 600px) {
  .home__section {
    // padding: 15px;
    .section-1 {
      padding: 25px 5px;

      .home__leftSection {
        h1.home_heading {
          max-width: 300px;
          font-size: 2rem;
        }

        .three-div-container {
          .home-div {
            padding: 5px 10px;

            p {
              font-size: 0.84rem;
            }
          }
        }
      }

      .right__homeSection {
        .image-div {
          height: 350px;
        }
      }
    }

    .section-3 {
      .left-section {
        p {
          font-weight: 600;
        }
      }
    }
  }
}

//media screen queries for Ipad
@media only screen and(max-width: 900px) and (min-width: 768px) {
  .section-1 {
    .home__leftSection {
      .three-div-container {
        .home-div {
          p {
            font-size: 1rem;
          }
        }
      }
    }
  }
}

// one-time pages start

.onetime-privacy,
.onetime-about,
.onetime-tandc,
.onetime-contact {
  .onetime-banner-img {
    position: relative;
  }

  .onetime-banner-img img {
    width: 100%;
    height: 40rem;
  }

  .onetime-banner-img img {
    width: 100%;
    height: 40rem;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    background: rgba(0, 0, 0, 0.6);
  }

  .onetime-banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .onetime-banner-content h1 {
    color: $color-9;
  }

  .onetime-banner-content p {
    color: $color-9;
  }

  .main-section {
    margin-top: 1.875rem;

    .main-section-inside1,
    .contact-section-inside2 {
      @include image-css;
    }

    .main-section-inside2 {
      p {
        font-size: 1rem;
      }
    }

    .contact-section-inside1 {
      margin-top: 5rem;

      p {
        font-size: 1.125rem;
      }
    }

    .contact-section-inside2 {
      @include image-css(530px, 420px);

      .section-3 {
        background-color: transparent;
      }
    }
  }

  .main_section_content2 {
    margin-top: 2rem;
  }

  @media only screen and (max-width: 767px) {
    .onetime-banner-content {
      top: 30%;
      left: 24%;
      transform: translate(-18%, -50%);
    }

    .main-section {
      .main-section-inside1,
      .contact-section-inside2 {
        padding: 0rem 1.25rem 1.25rem;
        @include image-css(100%, 415px);
      }
      .main-section-inside2 {
        padding: 0rem 1.25rem;
      }
      .contact-section-inside1 {
        margin-top: 0rem;
        padding:0rem 1.25rem;
      }
    }
  }

  @media only screen and (min-width: 768px) and(max-width: 900px) {
    .onetime-banner-content {
      top: 21%;
      left: 49%;
    }

    .main-section {

      .main-section-inside1,
      .contact-section-inside2 {
        @include image-css(100%, 320px);
      }
    }
  }
}

// one-time pages end

// categoryproductPE start
.categoryproductED {
  .categorysection1_inside1 {
    margin: 1.25rem auto;
    // max-width: 700px;

    img {
      width: 100%;
      height: 30rem;
    }
  }

  .categorysection1_inside2 {
    h1 {
      margin: 0.625rem 0rem 2rem 0rem;
    }

    #hidden {
      background-color: transparent;
      border: none;
      color: #ff8700;
      font-size: 15px;
    }
  }

  .categorysection2 
  {
    .categorybox 
    {
      .categorybox_inside {
        box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 15%);
        padding: 10px;
        border-radius: 10px;

        .categorybox_img {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 3rem;

          img {
            width: 80px;
            height: 56px;
          }
        }

        .categorydetail_content {
          h2 {
            font-size: 20px;
            margin: 10px 0px;
          }

          .cd_span {
            i {
              font-size: 11px;
              color: #212529;
              margin: 10px 0px;
            }

            span {
              font-size: 15px;
            }
          }
        }

        .cd_button {
          p {
            margin-top: 3rem;
          }

          span {
            font-size: 22px;
            font-weight: 500;
          }

          button {
            @include btn(25px, 12px 40px, 0.8rem, $para-font, 100%);
            margin: 0px auto;
            opacity: 0.9;
            font-size: 1rem;
            background-color: #444547;
          }
        }
      }

      .categorybox_inside:hover {
        box-shadow: 1px 1px 4px 1px rgb(0 0 0 / 25%);

        button {
          background-color: #212529;
        }
      }
    }

    .outerline {
      padding: 5px 0px 0px 7px;
      border: solid 1px #212529;
      border-radius: 35px;
      height: 45px;
      width: 151px;
      margin: 3rem auto;
    }

    button {
      font-family: "Ubuntu", sans-serif;
      padding: 8px 0px;
      border-radius: 15px;
      border: none;
      color: #f8f9fa;
      letter-spacing: 0.7px;
      font-size: 0.8rem;
      text-transform: uppercase;
      background-color: #212529;
      display: block;
      width: 136px;
    }
  }
  @media only screen and (max-width: 767px){
    .categorysection2 {
      .categorybox{
        padding: 20px 20px 0px 20px;
      }
      .outerline {
        height: 41px;
      }
    }
  }
}

// categoryproductPE end

// blogpage-start
.section_blogpage {
  @include blogbox;

  .outerline {
    padding: 5px 0px 0px 7px;
    border: solid 1px #212529;
    border-radius: 35px;
    height: 45px;
    width: 151px;
    margin: 4rem auto;
  }

  button {
    font-family: "Ubuntu", sans-serif;
    padding: 8px 0px;
    border-radius: 15px;
    border: none;
    color: #f8f9fa;
    letter-spacing: 0.7px;
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: #212529;
    display: block;
    width: 136px;
  }

  @media only screen and (max-width: 767px) {
    .blog-section {
      margin-top: 3rem;

      .blog-section_img img {
        width: 100%;
        height: 21rem;
      }

      .blog-section-inside2 {
        h1 {
          font-size: 2.475rem;
        }

        p {
          margin-top: 2rem;
          font-size: 18px;
          max-width: 800px;
          margin-top: 0 auto;
        }

        .span1 {
          color: #ff7575;
          font-weight: 600;
          font-size: 18px;
          margin-top: 5px;
        }

        .span2 {
          color: #c1c1c1;
          font-style: italic;
          font-size: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .section_blogpage {
    padding: 0px 15px;

    .blog-heading-content {
      margin-top: 2rem;

      h1 {
        font-size: 35px;
      }

      p {
        font-size: 16px;
        text-align: center;
      }
    }

    .outerline {
      height: 42px;
      margin: 3rem auto;
    }
  }
}

// blogpage-end

//footer section css
.footer__section {
  font-family: $heading-font;
  text-transform: capitalize;
  background-color: $color-1;

  .row {
    border-bottom: solid 1px #fff;

    .logo__div {
      img {
        width: 60px;
        margin-right: auto;
      }
      @media screen and (max-width: 767px) {
        .augs-logo{
          margin-right: unset;
        }
      }
    }

    .quick-links {
      li {
        a {
          color: $color-9;
        }
      }
    }
  }

  p {
    color: $color-9;
    text-align: center;
    margin-bottom: 0px;
  }
}

//footer section css

// header section css
header {
  // z-index: 10;
  .logo-img{
    width: 60px;
  }
  .navbar {
    background-color: $color-1;

    a {
      color: $color-9;

      &:hover {
        color: $color-9;
      }
    }

    .menu-open-btn {
      font-size: 20px;
    }

    .header-form {
      position: relative;
      height: 2.125rem;
      width: 18.75rem;

      input {
        border-radius: 50px;
        font-family: $para-font;

        &:focus {
          box-shadow: none;
          border: none;
        }
      }

      .header-search-btn {
        width: 3.125rem;
        height: 2.125rem;
        position: absolute;
        right: 12px;
        padding-top: 2px;

        &:focus {
          box-shadow: none;
          border: none;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .side_Bar {
    position: fixed;
    overflow-y: auto;
    left: -300px;
    top: 0px;
    width: 300px;
    height: 100vh;
    background-color: $color-1;
    z-index: 1032;
    .menu-close-btn {
      font-size: 20px;

      &:focus {
        box-shadow: none;
      }
    }

    ul {
      .menu-list {
        border-bottom: solid $color-9 2px;
        color: $color-9;
        a{
          color: $color-9;
        }
        form {
          input {
            background-color: $color-1;
            color: $color-9;
            border: none;
            padding-left: 35px;
            margin-bottom: 10px;
            outline: none;

            &::placeholder {
              color: $color-9;
            }
          }

          .search-btn {
            position: absolute;
            left: 0px;
            top: 0px;
            outline: none;
            padding: 3px;

            &:focus {
              box-shadow: none;
            }
          }
        }

        .menu-links {
          color: $color-9;
          font-size: 1rem;
          font-weight: 500;
          padding: 8px 20px;
        }

        .accordion-item {
          background-color: unset;
          color: $color-9;
          border: unset;

          .accordion-button {
            background-color: $color-1;
            color: $color-9;

            &:focus {
              border-color: unset;
              box-shadow: unset;
            }

            &::after {
              background-image: url("../assets/images/dropdownImg.png");
            }
          }

          .accordion-body {
            .menu-inner-ul {
              li {
                font-family: $para-font;
              }
            }
          }
        }
      }
    }
  }

  .overlay_Div {
    position: fixed;
    top: 0%;
    width: 100%;
    left: -100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1031;
  }
}

@media screen and(max-width: 767px) {
  header{
    .navbar .header-form{
    width: 14.75rem;
    }
  } 
  .side_Bar{
    .menu-list{
      .menu-links{
        padding : 8px 20px 8px 12px;
        a{
          font-size: 1.3rem;
        }
      }
    }
    a{
      font-size: 1.1rem;
    }
    button{
      font-size: 1.3rem;
    }
  }
}

// header section css

// single product page css
.sticky_accordion{
  position: fixed;
  top: 50px;
  left: 0px;
  right: 0px;
}
.product__page {
  .top-section {
    background-color: $color-8;

    .product-section {
      border: solid 1px $color-1;
      border-radius: 6px;
      padding: 10px;

      .product-img {
        img {
          width: 100%;
          height: 21.875rem;

          object-fit: cover;
        }

        button {
          @include btn;
          width: 100%;
          margin: 0px;
        }
      }

      .product-desc {
        h1 {
          font-size: 2rem;
        }
      }
    }
  }
  .bottom-section {
    .accordion-item {
      border: none;
      .accordion-button {
        background-color: $color-1;
        color: $color-9;
        padding: 8px 10px;
        border-radius: 6px;
        &::after {
          filter: brightness(25);
        }
        &:focus {
          box-shadow: none;
        }
        &:not(.collapsed) {
          background-color: $color-10;
          color: $color-1;
          font-weight: 600;
          box-shadow: none;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          &::after {
            filter: brightness(0.1);
          }
        }
      }
      .accordion-body {
        background-color: $color-10;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        p {
          color: $color-1;
        }
      }
    }
  }
}

@media only screen and(max-width: 767px) {
  .product__page {
    .top-section {
      .product-section {
        border: none;

        .shadow {
          box-shadow: unset !important;

          .product-img {
            padding: 5px;
            border: solid 1px $color-1;
            border-radius: 6px;
          }
        }
      }
    }
  }
}

// single product page css

// post page css
.post__page {
  .post-banner-img {
    height: 500px;
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
  }
  .post-content-section {
    .TBC-container{
      .accordion-item{
        .accordion-button{
          font-size: 1.8rem;
          font-weight: 600;
          &:not(.collapsed){
            color: $color-1;
            background-color: unset;
            &::after{
              filter: brightness(0.1);
            }
          }
          &:focus{
            box-shadow: none;
          }
        }
      }
      position: sticky;
      top: 90px;
      .table-of-content {
        li {
          border: solid 1px $color-1;
          border-radius: 6px;
          padding: 5px 6px;
          margin-bottom: 10px;
          cursor: pointer;
          a {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            font-family: $heading-font;
            font-weight: 600;
            span {
              margin-bottom: 0px;
            }
            span {
              border-right: solid 1px $color-1;
              margin-right: 10px;
              padding: 0px 10px;
            }
          }
        }
        .tbc_links.active{
          background-color: $color-1;
          a{
            
            color: $color-9;
            font-weight: 500;
            
          }
        }
      }
    }
    .headings {
      font-size: 1.7rem;
      margin: 30px 0px 10px;
    }
    p {
      font-family: $para-font;
    }
    .sq-btn {
      @include btn;
    }
    .bottom-accordion-section{
      .accordion-item {
        width: fit-content;
        border: none;
        .accordian-heading {
          .accordion-button {
            font-size: 1.2rem;
            box-shadow: none;
            border: none;
            font-weight: 600;
            width: 300px;
            display: flex;
            justify-content: space-between;
            &::after {
              display: none;
            }
            &:not(.collapsed) {
              background-color: unset;
              color: $color-1;
            }
            span {
              background-color: $color-1;
              color: $color-9;
              padding: 6px 8px;
              margin-left: 2rem;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .post__page {
    padding: 10px;
    .post-banner-img {
      height: 200px;
    }
    .accordian-heading {
      .accordion-button {
        font-size: 1.4rem !important;
      }
    }
      
  }
}

@media screen and (max-width: 922px) {
  .TBC-container {
    .table-of-content {
      li {
        a {
          span,h2{
            font-size: 1.5rem !important;
          }
        }
      }
    }
  }
}
// post page css
