$color-1: #212529;
$color-2: #343a40;
$color-3: #495057;
$color-4: #6c757d;
$color-5: #adb5bd;
$color-6: #ced4da;
$color-7: #dee2e6;
$color-8: #e9ecef;
$color-9: #f8f9fa;

$color-10: #dcdada;

$input: #c4c4c4;

$shadow: 1px 1px 4px 1px rgb(0 0 0 / 25%)