@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu:ital@0;1&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,700&display=swap");
$heading-font: 'PT Serif', serif;
$para-font: 'Ubuntu', sans-serif;
// $many-color: ("blk": #000,"wht": #fff,"ylw": yellow);


