RewriteEngine On
RewriteRule ^home/?$ index.php [NC,L]
RewriteRule ^about/?$ aboutus.php [NC,L]
RewriteRule ^contact/?$ contact.php [NC,L]
RewriteRule ^privacypolicy/?$ privacypolicy.php [NC,L]
RewriteRule ^termsandconditions/?$ termsandconditions.php [NC,L]
RewriteRule ^category/([^/\.]+)/?$ categoryproduct.php?cat=$1 [NC,L]
RewriteRule ^([a-zA_Z_-]+)$ post.php?title=$1 [NC,L]