@use "../variables/" as *;
@use "../base/index" as *;
@use '../components/' as *;
@use '../utilities/' as *;

.home__section {
    padding: 40px 45px;
  .home__leftSection {
    h1.home_heading {
      font-size: 50px;
      max-width: 530px;
      text-transform: uppercase;
      padding: 20px 0px;
    }
    .three-div-container {
      .home-div {
        border: solid 1px $color-1;
        border-radius: 6px;
        padding: 22px 30px;
        height: 100%;
        h1 {
          font-size: 22px;
        }
        p {
          font-size: 14px;
          margin-bottom: 8px;
        }
      }
    }
  }
  .right__homeSection {
    // .image-div {
    //   padding: 10px;
    //   border: solid 1px $color-1;
    //   border-radius: 6px;
    //   width: 530px;
    //   height: 556px;
    //   img {
    //       width: 100%;
    //       height: 100%;
    //   border-radius: 6px;
    //   }
    // }
    @include image-css(unset);

  }
}
