@use "../variables/" as *;
@use '../base/index' as *;
@use "../utilities/" as *;

.onetime-privacy,.onetime-about,.onetime-tandc,.onetime-contact{
    .onetime-banner-img{
        position: relative;
    }
    .onetime-banner-img img{
        width: 100%;
        height: 40rem;
    }
    .onetime-banner-img img{
        width: 100%;
        height: 40rem;
    }
    .overlay{
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40rem;
    background: rgba(0, 0, 0, .6);
    }
    .onetime-banner-content{
            position: absolute;
    top: 50%;
    left: 33%;
    transform: translate(-28%, -50%);
    text-align: center;
    }
    .onetime-banner-content h1,.onetime-banner-content p{
        color: $color-9;
    }
    .main-section
    {
        margin-top:1.875rem;
        
        .main-section-inside1,.contact-section-inside2{
            @include image-css;
        }
        .main-section-inside2{
            p{
                font-size: 1rem;
            }
        }
        .contact-section-inside1{
            margin-top: 5rem;

            p{
                font-size: 18px;
            }
        }
    }

    @media screen and(max-width:767px){
       .main-section{

        .main-section-inside1,.contact-section-inside2{
            padding: 0rem 1.875rem 1.25rem ;
            @include image-css(100%);
        }
       }
       .main-section .contact-section-inside1{
           margin-top: 0rem;
       } 
    }

    @media  screen and (max-width:921px){
        .main-section{
            .contact-section-inside2{
             @include image-css(100%);
         }
        }
     }
}