@use '../variables/' as *;

@mixin image-css {
    .image-div {
        padding: 10px;
        border: solid 1px $color-1;
        border-radius: 6px;
        width: 530px;
        height: 556px;
        img {
            width: 100%;
            height: 100%;
        border-radius: 6px;
        object-fit: cover;
        }
    }
} 