@use "../variables/" as *;
@use "../components/shadow" as *;

@mixin image-css($width: 530px, $height: 556px) {
  .image-div {
    padding: 10px;
    border: solid 1px $color-1;
    border-radius: 6px;
    width: $width;
    height: $height;
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      object-fit: cover;
    }
  }
}

@mixin blogCard {
  .blog-card {
    border-radius: 6px;
    overflow: hidden;
    @extend .shadow;
    .blog-card-img-div {
      img {
        width: 100%;
        height: 15.75rem;
      }
    }
    .blog-desc-sec {
      h1 {
        font-size: 1.5625rem;
      }
    }
  }
}

@mixin owl-btn {
  .owl-carousel {
    .owl-nav button.owl-next,
    .owl-nav button.owl-prev {
      width: 35px;
      height: 35px;
      background-color: $color-1;
      color: #fff;
      border-radius: 50px;
    }
    .owl-nav {
        display: flex;
        gap: 25px;
        position: absolute;
        left: 50%;
        bottom: -2rem;
      }
  }
}
