@use "../variables/" as *;
@use "../components/shadow" as *;
@use "../components/buttons" as *;

@mixin image-css($width: 530px, $height: 556px) {
  .image-div {
    padding: 10px;
    border: solid 1px $color-1;
    border-radius: 6px;
    width: $width;
    height: $height;
    img {
      width: 100%;
      height: 100%;
      border-radius: 6px;
      object-fit: cover;
    }
  }
}

@mixin blogCard {
  .blog-card {
    border-radius: 6px;
    overflow: hidden;
    @extend .shadow;
    .blog-card-img-div {
      img {
        width: 100%;
        height: 15.75rem;
      }
    }
    .blog-desc-sec {
      h1 {
        font-size: 1.5625rem;
      }
    }
  }
}

@mixin owl-btn {
  .owl-carousel {
    .owl-stage-outer {
      padding: 15px 1px;
    }
    .owl-nav button.owl-next,
    .owl-nav button.owl-prev {
      width: 35px;
      height: 35px;
      background-color: $color-1;
      color: #fff;
      border-radius: 50px;
    }
    .owl-nav {
      display: flex;
      gap: 25px;
      position: absolute;
      bottom: -2rem;
      justify-content: center;
      width: 100%;
    }
  }
}

@mixin before {
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    /* left: 0; */
    bottom: -4px;
  }
}

@mixin box {
  .header_cp_main{
    margin-top: 4rem;
    .header_cp_column1{
      padding: 0px;
      .header_cp_img img{
        width: 100%;
        height: 30rem;
        border-radius: 7px 0px 0px 7px;
      }
    }
    .header_cp_column2{
      border-radius: 0px 7px 7px 0px;
      background-color: $color-8;
      .header_cp_content{
        margin-top: 2rem;
        p{
          font-size: 18px;
        }
      }
    }
  }
}

@mixin blogbox {
  .blog-heading-content{
    margin-top: 3rem;
    text-align: center;
    p{
      font-size: 18px;
      text-align: center;
    }
  }
  .blog-section{
    margin-top: 3rem;
    .blog-section_img img{
      width: 90%;
      height: 21rem;
    }
    .blog-section-inside2{
      h1{
        font-size: 1.875rem;
        margin-top: 0.625rem;
      }
      p{
        margin-top: 0.625rem;
        font-size: 18px;
      }
      .span1{
        color: #ff7575;
    font-weight: 600;
    font-size: 1.125rem;
      }
      .span2{
        color: #c1c1c1;
        font-style: italic;
      }
      button {
        @include btn(0px,8px 40px,0.8rem,$para-font,unset) ;
      }
    }
  }
  
}