@use '../variables' as *;

@mixin btn($radius: 4px,$padding: 8px 30px) {
    font-family: $para-font;
    padding: $padding;
    border-radius: $radius;
    border: none;
    color: $color-9;
    letter-spacing: 0.7px;
    font-size: 0.8rem;
    text-transform: uppercase;
    background-color: $color-1;
    margin: 10px auto;
}
