@use '../variables'as *;

@mixin btn($radius: 4px,
    $padding: 8px 40px, $fontSize: 0.8rem, $fontFamily: $para-font,$width:unset) {
    font-family: $fontFamily;
    padding: $padding;
    border-radius: $radius;
    border: none;
    color: $color-9;
    letter-spacing: 0.7px;
    font-size: $fontSize;
    text-transform: uppercase;
    background-color: $color-1;
    margin: 10px 5px;
    display: block;
    width:$width;
}
