*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 100%;
}

h1,h2,h3{
    font-weight: 600;
    margin-top: 0px;
}

a,a:visited,a:active{
    text-decoration: none;
    color: rgb(23, 23, 23);
}

// *::after,*::before{
//     box-sizing: inherit;
// }
