@use '../utilities/' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    // &::-webkit-scrollbar{
    //     background-color: #f1f1f1;
    // }
    // &::-webkit-scrollbar-track{
    //     background-color: #f1f1f1;
    // }
    // &::-webkit-scrollbar-thumb{
    //     background-color: #c1c1c1;
    // }
}

html{
    //font size for phone 
    font-size: 100%;
    @include mediaScreen(tab){
        font-size: 70%;
        p{
            // font-size: 1.5rem;
        }
    }
    @include mediaScreen(phone){
        font-size: 90.75%;
        p{
            font-size: 1.2rem;
        }
    }
    @include mediaScreen(desktop){
        font-size: 85%;
    }
}

h1,h2,h3{
    font-weight: 600;
    margin-top: 0px;
}

a,a:visited,a:active,a:hover{
    text-decoration: none;
    color: rgb(23, 23, 23);
}

// *::after,*::before{
//     box-sizing: inherit;
// }
