@use '../variables/' as *;

h1,h2,h3,h4,h5,h6{
    font-family: $heading-font;
    color: $color-1;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

h3{
    font-size: 25px;
}

p{
    color: $color-1;
    font-family: $para-font;
}
