@use '../variables/' as *;

h1,h2,h3,h4,h5,h6{
    font-family: $heading-font;
    color: $color-1;
}

h1{
    font-size: 2.5rem;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.5625rem;
}

p{
    color: $color-1;
    font-family: $para-font;

}
