@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu:ital@0;1&display=swap");
.shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.custom-container {
  padding: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 90.75%;
  }
  html p {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 85%;
  }
}

h1, h2, h3 {
  font-weight: 600;
  margin-top: 0px;
}

a, a:visited, a:active, a:hover {
  text-decoration: none;
  color: #171717;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  color: #212529;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5625rem;
}

p {
  color: #212529;
  font-family: "Ubuntu", sans-serif;
}
