@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

h1, h2, h3 {
  font-weight: 600;
  margin-top: 0px;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #171717;
}

.custome-container {
  padding: 0px;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  color: #212529;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  color: #212529;
  font-family: "Ubuntu", sans-serif;
}
