@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu:ital@0;1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 100%;
}

h1, h2, h3 {
  font-weight: 600;
  margin-top: 0px;
}

a, a:visited, a:active {
  text-decoration: none;
  color: rgb(23, 23, 23);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  color: #212529;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  color: #212529;
  font-family: "Ubuntu", sans-serif;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.custom-container {
  padding: 0px;
  overflow-x: hidden;
}

.home__section {
  padding: 40px 30px;
}
.home__section .home__leftSection h1.home_heading {
  font-size: 50px;
  max-width: 530px;
  text-transform: uppercase;
  padding: 20px 0px;
}
.home__section .home__leftSection .three-div-container .home-div {
  border: solid 1px #212529;
  border-radius: 6px;
  padding: 10px;
  height: 100%;
}
.home__section .home__leftSection .three-div-container .home-div h1 {
  font-size: 22px;
}
.home__section .home__leftSection .three-div-container .home-div p {
  font-size: 14px;
  margin-bottom: 8px;
}
.home__section .right__homeSection .image-div {
  padding: 10px;
  border: solid 1px #212529;
  border-radius: 6px;
  width: 530px;
  height: 556px;
}
.home__section .right__homeSection .image-div img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
