@import url("https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu:ital@0;1&display=swap");
.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.custom-container {
  padding: 0px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 70%;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 63.75%;
  }
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

h1, h2, h3 {
  font-weight: 600;
  margin-top: 0px;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #171717;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "PT Serif", serif;
  color: #212529;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

p {
  color: #212529;
  font-family: "Ubuntu", sans-serif;
}

.onetime-privacy .onetime-banner-img {
  position: relative;
}
.onetime-privacy .onetime-banner-img img {
  width: 100%;
  height: 40rem;
}
.onetime-privacy .onetime-banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.onetime-privacy .main-section {
  margin-top: 40px;
  margin-bottom: 40px;
}
.onetime-privacy .main-section .main-section-inside .image-div {
  padding: 10px;
  border: solid 1px #212529;
  border-radius: 6px;
  width: 530px;
  height: 556px;
}
.onetime-privacy .main-section .main-section-inside .image-div img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.onetime-privacy .main-section .main-section-inside p {
  font-size: 16px;
}
